body
{
	font-family: sans-serif;
	font-size: 17px;
	margin: 0;
	background: #006bff;
}

.page
{
    background-color: #006bff;
}

.filsactu
{
    background-color: #6c7286;
    height : 100%;
    width: 750px;
    text-align: center;
    margin-left: auto;
    margin-right : auto;
    border : 1px groove black;
}

.message
{
    background-color: white;
    height : 250px;
    width : 80%;
    margin-left: auto;
    margin-right : auto;
    border: 1px groove black;
    border-spacing: 5px;
    margin-top : 8%;
    margin-bottom: 8%;
}

.useraccount
{
    text-align: left;
    border : 1px groove black;
    width : 20%;
    height : 210px;
    margin-bottom : 3%;
    margin-top : 3%;
    margin-left : 2%;
}

.stat 
{
    text-align: center;
    border : 1px groove black;
    width : 100%;
    margin-top : 3px;
}

.imageaccount
{
    border : 1px groove black;
    height : 50px;
}

.text 
{
    text-align: right;
    border : 1px groove black;
    width : 70%;
    height : 210px;
    margin-bottom : 3%;
    margin-top : 3%;
    margin-left : 2%;
}

.container-blocks
{
    display: flex;
}

.container
{
    flex-direction : column;
}



