.block-general
{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 510px;
    background-color: red;
}
.blockBannière
{
    display: flex;
    flex-direction: row;
    background-color: aqua;
    height: 22%;
}
.image-Profil
{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    background-color: beige;
}
.canemarchepas
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    background-color: green;
    width: 100%;
}
.canemarchepas1
{
     display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    background-color: yellow;
    width: 100%;
}
.insertCommentaire
{
    width: 600px;
    height: 510px;
    background-color: white;
}
.commentarea
{
    margin: 15px 0;
    resize:none;
   
    min-height: 200px;
    width: 600px;
}
.button
{
    width: 200px;
    height: 50px;
}
.action
{
    display: flex;
    background-color: goldenrod;
    width: 35%;
    margin-top: auto;
    margin-bottom: auto;
    height: 50%;
}
.Pseudo
{
    display: flex;
    background-color: aquamarine;
    width: 29%;
    margin-top: auto;
    margin-bottom: auto;
    height: 44%;
}
.block-generail-text
{
    display: flex;
    height: 100%;
}
.zonetexte
{
    display: flex;
    width: 92%;
    height: 90%;
    background-color: white;
    margin: auto;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 févr. 2020, 08:33:14
    Author     : utilisateur
*/

