.block-general
{
    display: block;
    width: 1000px;
    height: 800px;
    background-color: #E91E63;
}
.block-secondaire
{
    display: flex;
    width: 100%;
    height: 28%;
    background-color: brown;
    flex-direction: row;
}
.block-imageProfile
{
    display: flex;
    width: 20%;
    height: 100%;
    background-color: chartreuse;
}
.block-nom
{
    display: flex;
    background-color: burlywood;
    width: 80%;
    height: 100%;
}
.block-secondaire2
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 72%;
    background-color: aqua;
}
.block-profil
{
    display: flex;
    background-color: #eae3e3;
    flex-direction: column;
    width: 100%;
    height: 43%;
}
.blockCommentaire
{
    display: flex;
    background-color: #009688;
    width: 100%;
    height: 57%;
    flex-direction: column;
    padding: 10px;
}