body
{
    font-family: sans-serif;
    font-size: 17px;
    margin: 0;
    background: #1f242b;
}

.footer
{
    height: 50px;  
    color : white;
    margin-top: 20px;
    background-color: #1f242b;
    display : flex;
    justify-content: center;
    align-items: center;
}

