body
{
    font-family: sans-serif;
    font-size: 17px;
    margin: 0;
    background: #347adc;
}

.page
{
    background: linear-gradient(#3f3fec, white);
}

.filsactu
{
    background: linear-gradient(#f2ebeb, #9699a5);
    height : 100%;
    width: 750px;
    text-align: center;
    margin-left: auto;
    margin-right : auto;
    border : 1px groove black;
    margin-top: 5%;
    border-radius: 10px;
}

.message
{
    background-color: white;
    height : 250px;
    width : 80%;
    margin-left: auto;
    margin-right : auto;
    border: 1px groove black;
    border-spacing: 5px;
    margin-top : 10px;
    margin-bottom: 8%;
    border-radius: 10px;
}

.useraccount
{
    text-align: left;
    border : 1px groove black;
    width : 20%;
    height : 210px;
    margin-bottom : 3%;
    margin-top : 3%;
    margin-left : 2%;
    position : relative;
}

.stat 
{
    text-align: center;
    border : 1px groove black;
    width : 100%;
    position:absolute; bottom:0;
}

.imageaccount
{
    border : 1px groove black;
    height : 60px;
}

.text 
{
    text-align: center;
    border : 1px groove black;
    width : 70%;
    height : 210px;
    margin-bottom : 3%;
    margin-top : 3%;
    margin-left : 2%;
}

.container-blocks
{
    display: flex;
}

.container
{
    flex-direction : column;
    text-align : center; 
}

.input
{
    text-algin : left;
    margin-left : 10%;
    width : 30%;
    height : 5%;
    background-color: white;
    border : 1px groove black;
    margin-bottom: 1%;
    margin-top : 5%;
    border-radius: 10px;
}

.search 
{
    text-algin : center;
    margin-left : 10%;
    width : 15%;
    height : 5%;
    background-color: #9b9494;
    border : 1px groove black;
    margin-bottom: 1%;
    margin-left : 10px;
    margin-top: 5%;
    border-radius: 10px;
}

